// SideMenu.module.scss
.sideMenu {
  position: fixed;
  left: -90%;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: #1361a9;
  transition: left 0.3s ease-in-out;
  z-index: 1001; // higher than backdrop
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &.open {
    left: 0;
    transform: translateX(0);
  }

  &__header {
    height: 132px;
    text-align: center;
    background: linear-gradient(
        180deg,
        rgba(26, 64, 157, 0.2) 34.9%,
        rgba(19, 97, 169, 0) 56.25%
      ),
      #125b9f;

    a {
      font-size: 15px;
      color: white;
    }
  }

  &__bpc {
    margin: 0 25px;
    margin-bottom: 4px;
    text-align: center;
    border-bottom: 1px solid #67abe9;

    span,
    small {
      color: white;
    }

    span {
      font-size: 77px;
    }

    small {
      font-size: 20px;
    }
  }

  &__links {
    margin-top: 18px;
    margin-left: 29px;
    z-index: 3;

    ul {
      list-style: none;

      li {
        margin-bottom: 28px;

        a {
          color: #fff;
          font-size: 17px;
        }
      }
    }
  }

  &__bottomLght,
  &__topLght {
    position: absolute;
    z-index: -20;

    svg {
      width: 100%;
    }
  }

  &__topLght {
    bottom: 40%;
  }

  &__bottomLght {
    bottom: -9%;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; // covers the full viewport width
  height: 100vh; // covers the full viewport height
  background-color: rgba(0, 0, 0, 0.5); // semi-transparent
  z-index: 1000; // ensure it's below the menu but above other content
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  // additional styles for the button
}
