.createTeamBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #e9e8e8;
  background: #f4f4f4;
  min-width: 350px;
  min-height: 180px;
  margin-bottom: 40px;
  padding: 12px 0;

  &__content {
    width: 100%;
  }

  h3 {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  &__link {
    &::before {
      content: '';
      position: absolute;
      width: 80%;
      margin-left: 10%;
      height: 1px;
      border-bottom: 1px solid black;
      bottom: 45px;
      left: 0;
      font-size: 15px;
    }
  }
}
