.providers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 75vh;
  overflow: scroll;
  padding-bottom: 2rem;

  &__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100%;
    height: 136px;
    z-index: 20;

    button,
    a {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
