.profileSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;

    h1 {
      font-size: 18px;
      font-style: italic;
      margin-top: 22px;
    }
  }

  &__boxes {
    margin-top: 6vh;

    div {
      margin-bottom: 19px;
    }
  }

  @media (max-height: 720px) {
    &__heading {
      margin-top: 10vh;
    }
  }
}
