.redeemPlayerShirt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .imageWrapper {
    position: relative;

    span {
      position: absolute;
    }

    .squadNumber {
      top: 50%;
      left: 50%;
      transform: translate(-62%, -50%);
      font-weight: bolder;
      font-style: italic;
      font-size: 20px;
    }

    .playingPosition,
    .playingPositionGk {
      background-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      bottom: 5px;
      right: 10px;
      transform: translate(0, 0);
      border: 1px solid #125b9f;
    }

    .playingPosition {
      font-size: 10px;
      padding: 2.5px 4px;
    }

    .playingPositionGk {
      font-size: 8px;
      padding: 4px 4px;
    }
  }

  small {
    font-size: 10px;
    min-height: 13px;
  }

  h3 {
    font-size: 15px;
    min-height: 20px;
  }
}

.selected {
  border-radius: 5px;
  border: 2px solid #1361a9;
}

.redeemPlayerShirtBig {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .imageWrapper {
    position: relative;

    span {
      position: absolute;
    }

    .squadNumber {
      top: 50%;
      left: 50%;
      transform: translate(-62%, -50%);
      color: #000;
      text-align: center;
      font-size: 70px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }

    .playingPosition,
    .playingPositionGk {
      background-color: #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      bottom: 25px;
      right: 40px;
      transform: translate(0, 0);
      border: 1px solid #125b9f;
    }

    .playingPosition {
      font-size: 40px;
      padding: 2.5px 4px;
    }

    .playingPositionGk {
      font-size: 8px;
      padding: 4px 4px;
    }
  }

  small {
    font-size: 10px;
    min-height: 13px;
  }

  h3 {
    font-size: 15px;
    min-height: 20px;
  }
}
