.table {
  border: 1px solid #d4d4d4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  width: 350px;

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    border-left: 1px solid #d4d4d4;
    left: 65%;
  }
}

.tableColumnCode,
.tableColumnPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #d4d4d4;
  font-style: italic;
  font-size: 18px;
}

.tableColumnPlayer {
  width: 65%;
  color: #828181;
}

.tableColumnCode {
  width: 35%;
}

.tableHeading,
.tableBody {
  display: flex;
}
