.mainContainer {
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  padding: 6px 6px 16px;
  margin-top: 2rem;
  transition: all ease-out 0.15s;
  border: 2px solid transparent;
  max-height: 172px;
}

.selected {
  border: 2px solid #125b9f;
  filter: brightness(0.95);
}
.mainHeader {
  border-radius: 2px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 26px 45px 0;
}

.imageWrapper {
  z-index: 1;
  display: flex;
  margin-bottom: -20px;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 100px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.title {
  color: #000;
  text-align: center;
  align-self: center;
  margin-top: 30px;
  white-space: nowrap;
  font-size: 18px;
}

.description {
  color: #000;
  text-align: center;
  align-self: center;
  margin-top: 8px;
  font-size: 12px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
