.squadPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__imageWrapper {
    position: relative;

    span {
      position: absolute;
    }

    .squadNumber {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .playingPosition,
    .playingPositionGk {
      background-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      bottom: 5px;
      right: 10px;
      transform: translate(0, 0);
      border: 1px solid #125b9f;
    }

    .playingPosition {
      font-size: 10px;
      padding: 2.5px 4px;
    }

    .playingPositionGk {
      font-size: 8px;
      padding: 4px 4px;
    }
  }

  small {
    font-size: 10px;
    min-height: 13px;
  }

  h3 {
    font-size: 15px;
    min-height: 20px;
  }


}

.selected {
  border-radius: 5px;
  border: 2px solid #1361a9;
}
