.teamkit {
  &__question {
    margin: 54px 0 58px 30px;
    h3 {
      font-size: 15px;
      margin-bottom: 33px;
    }
  }

  &__teamColours {
    margin: 77px 23px 0 33px;

    h2 {
      font-size: 15px;
      margin-left: 10px;
      margin-bottom: 28px;
    }

    .teamColourPicker {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      span {
        min-width: 40%;
        font-size: 13px;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100%;
    height: 136px;
    z-index: 20;

    button,
    a {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
