.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 18px;
    font-style: italic;
    margin: 28px 0 32px 0;
  }
}

.createTeammate {
  min-height: 100%;
  height: 82vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__inputs {
    margin-top: 8vh;

    fieldset {
      margin-bottom: 6vh;
    }
  }

  &__phoneWrapper {
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__buttonCustom {
    background: #000;
    outline: none;
    border: none;
    height: 30px !important;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 50px;
  }

  &__button {
    margin-bottom: 5vh;

    button,
    a {
      margin-bottom: 5px;
    }
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 13px;

      span {
        font-size: 12px;
      }

      a {
        font-size: 15px;
        text-decoration: none;
        font-weight: bolder;
      }
      a,
      span {
        color: #000;
      }
    }
  }

  @media (max-width: 375px) {
    height: 90vh;
    &__inputs {
      margin-top: 4vh;

      fieldset {
        margin-bottom: 4vh;
      }
    }
  }
}
