.colorPicker {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-size: 11px;
  }

  input {
    width: 77px;
    height: 21px;
  }

  input[type='color']::-moz-color-swatch {
    border: 1px solid #dfdfdf;
  }

  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
  }

  input[type='color']::-webkit-color-swatch {
    border: 1px solid #dfdfdf;
  }
}

.colorInput {
  border: none;
  outline: none;
  cursor: pointer;

  // Remove or customize the border specifically for the color input
  // Add vendor prefixes if needed for cross-browser compatibility
}

.colorDisplay {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd; // Add a subtle border for better visibility
}
