.profileSelect {
  background: #1361a9;
  border-radius: 5px;
  width: 357px;
  height: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  div {
    margin-left: 31px;
  }

  h3,
  ul > li {
    color: #fff;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: bold;
    font-style: italic;
  }

  img {
    position: absolute;
    top: 38px;
    right: 25px;
  }

  ul > li {
    font-size: 15px;
    margin-left: 31px;
  }

  button {
    margin-left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-style: italic;
  }
}
