.container {
  display: inline-block;
  width: 100%;
  position: relative;
}

.fakeInput {
  width: 50%;
  border-bottom: 1px solid #000000;
  cursor: text;
  user-select: none;
  background: transparent;
  width: 50%;
  height: 40px;
  border-radius: 0;
  font-size: 18px;
  font-style: italic;
  line-height: normal;
  min-width: 50%;
  transform: transition all 0.3s;

  &:focus {
    outline: none;
  }
}

.displayText {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  border: none;
  font-size: 50px;
  background: transparent;
  outline: none;
  text-align: right;
}
