.createPlayerProfile {
  min-height: 100%;
  height: 84vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-style: italic;
      width: 220px;
      margin: 6vh 0 6vh 0;
    }

    fieldset {
      margin-bottom: 6vh;
    }
  }

  &__button {
    margin-bottom: 5vh;
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 13px;

      span {
        font-size: 12px;
      }

      a {
        font-size: 15px;
        text-decoration: none;
        font-weight: bolder;
      }
      a,
      span {
        color: #000;
      }
    }
  }

  @media (max-width: 375px) {
    height: 90vh;
    &__inputs {
      margin-top: 4vh;

      fieldset {
        margin-bottom: 4vh;
      }
    }
  }
}
