.selectSquadNumber {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  fieldset {
    margin: 40px 0;
  }

  h1 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    width: 330px;
    margin: 4vh 0;
  }

  &__shirt {
    min-height: 68vh;
    padding: 0 10vw;
  }

  &__info {
    text-align: center;
    font-style: italic;
    margin-top: 2vh;

    span {
      font-size: 18px;
    }

    h2 {
      font-size: 40px;
    }
  }

  &__button {
    margin-bottom: 5vh;
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 13px;

      span {
        font-size: 12px;
      }

      a {
        font-size: 15px;
        text-decoration: none;
        font-weight: bolder;
      }
      a,
      span {
        color: #000;
      }
    }
  }

  @media (max-width: 375px) {
    height: 90vh;

    h1 {
      margin: 2vh 0 1vh 0;
    }
    &__squadPlayers {
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
  }
}
